.bulk-editor-button-group {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: start;
  justify-items: start;
}

.bulk-editor-stage__button {
  justify-self: start;
}

.bulk-editor-stage__button--text {
  padding: 0;
}

.ant-message-notice-content {
  max-width: 40%;
}

.ant-collapse-header {
  /**
   * This color is blue-1 in Ant's color palette.
   *
   * https://ant.design/docs/spec/colors
   */
  background: #e6f7ff;
}

.ant-collapse-content-box {
  display: grid;
  grid-gap: 10px;
}

/**
 * Drupal's Seven theme makes all text within `<label>` elements bold,
 * apparently not anticipating that controls may be nested within `<label>`
 * elements.
 *
 * Override that, but only for Ant form controls and not other content that may
 * be displayed on the page, like node previews.
 */
.ant-form-item-control label * {
  font-weight: normal;
}

/**
 * Override Ant styles to make the table look more like the tables in Drupal's
 * "Seven" theme.
 */
.bulk-editor-node-table .ant-table {
  font-size: 0.9em;
}

/**
 * Override Ant styles to make the table look more like the tables in Drupal's
 * "Seven" theme.
 */
.bulk-editor-node-table thead th {
  padding: 10px;
  border-top: 1px solid #bfbfba;
  border-bottom: 1px solid #bfbfba;
  background: #f5f5f2;
}

/**
 * Override Ant styles to make the table look more like the tables in Drupal's
 * "Seven" theme.
 */
.bulk-editor-node-table thead th::before {
  display: none;
}

/**
 * Override Ant styles to make the table look more like the tables in Drupal's
 * "Seven" theme.
 */
.bulk-editor-node-table tr td {
  padding: 10px;
}
