.bulk-editor-edit-form {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  margin-block-end: 20px;
}

/**
 * Display a border between edits, but not between the last edit and the
 * "Add edit" button.
 */
.bulk-editor-edit-form:not(:nth-last-child(2)) {
  padding-block-end: 20px;
  border-block-end: 1px solid #d9d9d9;
}

.bulk-editor-edit-form .ant-select {
  inline-size: 100%;
  max-inline-size: 500px;
}

.bulk-editor-edit-form__remove {
  position: absolute;
  z-index: 10; /* Above the field selector, so that it can be clicked. */
  inset-block-start: 0;
  inset-inline-end: 0;
  padding: 10px; /* Grow the button's hitbox. */
  transition: color 0.5s;
  border: 0;
  background: transparent;
  font-size: 16px;
}

/**
 * The .ant-btn-text selector is needed to override Ant's styles.
 */
.bulk-editor-edit-form__remove.ant-btn-text:hover {
  color: #e62600;
}
