.bulk-editor-edit-stage__add-button {
  display: block;
  margin-inline: auto;
  inline-size: 100%;
}

/**
 * Override Ant's styles so that there is not a margin below each edit in the
 * edit form.
 */
.ant-collapse-content-box > .ant-row {
  margin-block: 0;
}
