.bulk-editor {
  display: grid;
  grid-gap: 20px;
}

/**
 * Override the font-size that Ant sets for the panel's title and set a bold
 * font-weight.
 */
.ant-collapse-header {
  font-size: 1.3rem;
  font-weight: bold;
}

/**
 * Override the font-size that Ant sets for the panel's icon.
 */
.bulk-editor
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  font-size: 1.3rem;
}

/**
 * Override the font-size that Ant sets for the collapse icon in the panel
 * header.
 */
.ant-collapse-header .anticon {
  position: relative;
  top: 3px;
}

/**
 * Override the background-color that Ant sets for the panel body.
 */
.bulk-editor
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content {
  background: #fff;
}

/**
 * Override the padding that Ant sets in the panel body.
 */
.bulk-editor
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 20px 10px;
}
